/* ProductGrid.css */
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  transition: 0.5s;
}

.product-card input {
  outline: none;
  border-radius: 5px;
  margin-bottom: 10px;
}

.product-card:hover {
  box-shadow: 5px 5px 10px #888888;
}

.product-card img {
  width: 100%;
  height: 200px;
}

.dropdown {
  margin-right: 20px;
}

.price {
  font-weight: bold;
  color: #333;
}
