button {
  font-size: 45px;
  margin: auto;
}
label {
  font-weight: bold;
  align-items: center;
}
.parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.child {
  flex: 1 1 300px;
}
.emailimage {
  width: 50%;
  height: 40%;
  border-radius: 20px 30px 5px 40px;
  margin: auto;
}
.logo {
  width: 70px;
  height: 70px;
  border-radius: 5px;
  display: inline;
  cursor: pointer;
  float: left;
}
.logotext {
  display: inline;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  cursor: pointer;
  float: left;
  padding: 10px 0px;
}
.desc {
  margin: 200px 30px 30px 0px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}
body {
  height: 100vh;
  overflow: auto;
  background: linear-gradient(lightblue, white);
  background-repeat: no-repeat;
  padding: 0px 20px;
}
.box {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
  padding: 20px;
}
.signup {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.firstbox {
  text-align: center;
}
span {
  margin-left: 5px;
}
.link {
  text-decoration: none;
  margin-top: 20px;
  font-weight: bold;
}
